.wrapper{
    background-image: url("../public/media/images/backgroup_lady_page.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100dvh;
    
 
}